<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Rent A Car</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="cars">Anasayfa</a>
          </li>
          <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle" routerLink="cars/rental" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Kirala
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#" routerLink="cars/rental">Ödeme</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>