<div class="card mt-1">
    <div class="card-header">
        Filtreleme
    </div>
    <div class="card-body ">
        <div class="row">
            <div class="col-4">
                <p>Color:</p>
            </div>
            <div class="col-8">
                <select class="form-select mt-1" [(ngModel)]="currentColor">
                    <option value="" disabled selected>Renkler</option>
                    <option  value="{{c.id}}"  *ngFor="let c of colors">{{c.colorName}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>Brand:</p>
            </div>
            <div class="col-8">
                <select class="form-select mt-1" [(ngModel)]="currentBrand">
                    <option value="{{b.id}}" *ngFor="let b of brands">{{b.brandName}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <button type="button" class="btn btn-success mt-1" (click)="getByFilter(currentBrand,currentColor)">Filtrele</button>

        </div>
    </div>
</div>
